/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap");

html,
body {
  display: flex;
  flex-direction:column;
  margin: 0px;
  padding: 0px;
  height: 100%;
  scroll-behavior: smooth;
  background: #606470;
  font-family: "Montserrat", sans-serif;
}

