
.card-deck{
    justify-content: center !important;
}

#btn-comprar2, #btn-comprar1{
    display: flex;
    background-color: #42DAE7 !important;
    margin: 0 auto;
}
#btn-comprar1{
    margin-top: 64px;
}
#cards{
    min-height: 370px;
}
#valor{
    font-size: 25px;
}
#pacotes-row{
    margin: 40px 0px;
}
.card{
    background-color: #b6eaf0;
    border-radius: 10px;
}
h3.card-title{
    font-weight: bolder;
}
